[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonrpcserver = "*"
pytest = "*"
sanic = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sanic-jsonrpc = "*"
aiohttp = "*"
pytest-sanic = "*"
python-dotenv = "*"
ipython = "*"
funcy = "*"
ipytest = "*"
pprintpp = "*"
numpy = "*"
aioresponses = "*"
asyncpg = "*"
pytest-mock = "*"
ipfshttpclient = "==0.7.0a1"
sanic-jinja2 = "*"
sanic-session = "*"
pdbpp = "*"
docopt = "*"
alembic = "*"
gino = "*"
sqlalchemy = "*"
psycopg2 = "*"
jedi = "==0.17.2"
web3 = "==5.11.1"
celery = "*"
stdiomask = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
