{% extends 'base.html' %}

{% block body %}

{% if error is defined %}

<h1 class="ui header">There was an error: {{ error }}</h1>

{% else %}

<div class="ui grid">
	<div class="row">
		<div class="ui big breadcrumb">
			<a class="section" href="{{url_for('ipfs')}}">IPFS</a>
			<i class="right chevron icon divider"></i>
			<div class="active section">{{ hash }}</div>
		</div>
	</div>
	<div class="ui row">
		<div id="jsoneditor"></div>
	</div>
	<button id="test-document" class="ui primary button">
		Test
	</button>
	<button id="save-document" class="ui button">
		Save to IPFS
	</button>
	<div class="row">
		<div id="result-row" class="ui message">
			<div class="header">
				Result:
			</div>
			<p id="result">Click "Test" button to get the result of the above PQL definition.</p>
		</div>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.1.5/jsoneditor.min.js"
	integrity="sha512-X4ghd4LMc9/CnlIVvqhCRjE7jiyC7pnEOYLYrATL7QYkZUfNfxSwT2kvMD2e/E2i85SYmkx8Pu8anBl5QxdQgA=="
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.1.5/jsoneditor.css"
	integrity="sha512-jleMREJi/sXJYu6+/B0AQIgzmqq0yy/NUKNZu8K/pI1vedbvTCOzUjS8svSW21JA1YiDpAEuVIxHpt4OWAilYQ=="
	crossorigin="anonymous" />
<script>
	// Create the editor
	const container = document.getElementById("jsoneditor")
	const options = {
		modes: ['code', 'tree']
	}
	const editor = new JSONEditor(container, options)

	// Fill it with JSON
	editor.set({{json}})

	// Add test button event
	document.getElementById('test-document').onclick = function () {
		$.ajax({
			type: "post",
			url: "/test_pql",
			data: editor.getText(),
			success: function (response) {
				$("#result").text(JSON.stringify(response));
			}
		})
	}

	// Add SAVE button event
	document.getElementById('save-document').onclick = function () {
		$.ajax({
			type: "post",
			url: "/save_pql",
			data: editor.getText(),
			success: function (response) {
				$("#result").text(JSON.stringify(response));
			}
		})
	}
</script>

<style type="text/css">
	#jsoneditor {
		height: 500px;
		width: 100%;
	}

	#result-row {
		width: 100%;
	}
</style>

{% endif %}
{% endblock %}
