{% extends 'base.html' %}

{% block body %}
<a href="{{url_for('ipfs_hash', ipfs_hash='new')}}">
	<button id="new-pql" class="ui primary button">
		<i class="plus icon"></i>New PQL definition
	</button>
</a>

<h1 class="ui header">List of local IPFS hashes</h1>
<div class="column">
	<table class="ui celled selectable right aligned table">
		<thead>
			<tr>
				<th class="left aligned">IPFS hash</th>
			</tr>
		</thead>
		<tbody>
			{% for hash in hashes %}
			<tr>
				<td class="left aligned"><a href="{{url_for('ipfs_hash', ipfs_hash=hash)}}">{{ hash }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
