# This is a basic workflow to help you get started with Actions

name: paralink-node CI

# Controls when the action will run.
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Create home mount directory
      - name: Create home mount directory
        run: mkdir ~/.paralink

      # Create appropriate .env file
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_HOME_MOUNT_DIR: "~"
          envkey_DATABASE_NAME: paralink_node
          envkey_DATABASE_HOST: psql
          envkey_DATABASE_USER: paralink
          envkey_DATABASE_PASSWORD: p4r4link

      # Build integration stack
      - name: Build integration stack
        run: docker-compose -f docker-compose.yml up --build -d

      # Attach to container and run tests
      - name: Execute tests
        run: docker exec $(docker-compose ps -q paralink_node) /wait-for-it.sh -t 0 rabbitmq:5672 -- pipenv run python3 -m pytest tests/ -svvv

      # Run pre-commit
      - name: pre-commit
        run: docker exec $(docker-compose ps -q paralink_node) pipenv run pre-commit run --all-files
